<app-alert [color]="color" *ngIf="alert">
  {{ alertMsg }}
</app-alert>
<!-- Login Form -->
<form #loginForm="ngForm"  (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input #email="ngModel" type="email" name="email"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent
                  focus:border-indigo-400"
           placeholder="Enter Email" [(ngModel)]="credentials.email" autocomplete="false"
           required
           pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
    />
    <p class="text-red-400" *ngIf="email.errors && email.dirty && email.touched">
      Email is invalid
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input #password="ngModel" type="password" name="password"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Password" [(ngModel)]="credentials.password" required
    />
    <p class="text-red-400" *ngIf="password.touched && password.dirty && password.errors">
      Password is invalid
    </p>
  </div>
  <button type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition"
          [ngClass]="{ 'opacity-50': loginForm.invalid, 'hover:bg-indigo-500': !loginForm.invalid }"
          [disabled]="loginForm.invalid || inSubmission"
  >
    Submit
  </button>
</form>
